.hero{
min-height:560px;
max-width:var(--max);
margin:auto;
padding:40px 28px;
display:grid;
grid-template-columns:1.15fr .85fr;
gap:60px;
align-items:center;
position:relative;
background-size:100% auto !important;
background-position:center top !important;
background-repeat:no-repeat !important;
}
